body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ca1e6b07;
    color: #11cdea;
}

header {
    background-color: #092493; /* Header background color */
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
}

.header-separator {
    height: 100px; /* Set a height for the header separator */
}

.logo img {
    width: 100px; /* Adjust the width as needed */
    height: auto;
    margin-left: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease; /* Add a smooth transition to the text color */
}

nav ul li a:hover {
    color: #fff5; /* Change text color on hover */
}

.container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 200px;
    color: aliceblue;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(197, 102, 14, 0.2);
}

h1 {
    color: #333;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result {
    font-weight: bold;
    margin-top: 10px;
    color: #0056b3;
}
label, select {
    display: block;
    margin-bottom: 10px;
}

select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}